
body {
    background: #4ECDC4;
}
div {
    position: center;
}

#logo {
    position: center;
    height: 50em;
    width: 70em;
    margin-left: 50%;
    margin-right: 50%;

}

.row {
     position: center;
}

.input-field{
    position: center;
}
